
.anonymous-layout-container {
    text-align: center;
}

.layout-fullpage-container {
    padding-left: 1%;
    max-width: 100%;
}

.icon-for-button {
    margin-left: 10px;
}

.modal-trigger-top-margin {
    margin-top: 2%;
}

.left-pane-container {
    min-height: 100%;
}

.left-pane-info-text {
    margin-top: 2%;
    text-align: right;
}

