

.location-selector {
    max-width: 90%;
    max-height: 75%;
    margin-left: 5%;
}

.location-selector-container {
    height: 75%;
}

.paper-inner {
    height: 100%;
}

.button-with-right-margin {
    margin-right: 10px;
}